<% include partials/header %>
    <h1 class="edit-title"><%=blog.title%> </h1>
    <form class="blog-form" method="POST" action="/blogs/<%=blog._id%>?_method=PUT">
        <div class="blog-create-form">
                <div class="content-area">
                    <input type="text" value="<%=blog.title%>" name="title" placeholder="title here">            
                    <input type="text" value="<%=blog.image%>" name="image" placeholder="image url here">
                </div>
                <div class="editor">
                <div class="tool-bar">
                    <div>
                        <a href="javascript:void(0)" class="bold-btn"><span>B</span></a>
                    </div>
                    <div>
                        <a href="javascript:void(0)" class="italics-btn"><span>I</span></a>
                    </div>
                    <div>
                        <a href="javascript:void(0)" class="underline-btn"><span>U</span></a>
                    </div>
                    <div>
                        <a href="javascript:void(0)" class="list-btn"><span>l</span></a>
                    </div>
                </div>
                    <div class="text-area" contenteditable="true"><%- blog.content%></div>
                    <textarea placeholder="text goes here"  class="text-content" name="content"></textarea>
                </div>
        
                    <input type="submit">
        </div>
        
        <a href="/blogs">BACK</a>
    </form>

<% include partials/footer %>