<% include partials/header %>
    <div class="blog-show-container">
            <div class="header-container">
                <div class="current-blog-title">
                    <div>
                        <h1><%=blog.title%></h1>
                        <hr>
                        <div class="current-blog-date"><%=blog.date%></div>
                    </div>
                </div>
                    <div class="show-img">
                        <img src="<%=blog.image%>" alt="">
                    </div>
               
            </div>
            <div class="content-container">
                <p><%- blog.content %></p>
                <div>
                    
                </div>
            </div>

           <% if(currentUser && currentUser._id.equals("5e307761fc136d2884cc1a73")) { %>
            <div class="show-btns">
                <form action="/blogs/:id?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE">
                </form>
                <a href="/blogs/<%=blog._id%>/edit"><button>EDIT</button></a>
            </div>
            <% } else { %>
            <div></div>
           <% } %>
    </div>
   
<% include partials/footer %>